FLASHIP_CLIENT_URL=http://xug8q1wuf7x7yohsige1onwj.localhost:3000
FLASHIP_CLIENT_ID=zell4rxfhjz39igsot9lwjx1
FLASHIP_CLIENT_API_KEY=l4tuyr8lc6sqgzk0rhrkkojhrniyqm48
FLASHIP_CLIENT_SECRET=UpdYV9YHsVins9j1
